@font-face{
	font-family: 'formula';
	src: url('formula/formulacondensed-bold-webfont.woff') format('woff'),
		url('formulacondensed-bold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}@font-face{
	font-family: 'telegraf';
	src: url('telegraf/telegraf-regular-webfont.woff') format('woff'),
		url('telegraf-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
h1{
	font-family: 'formula';
	font-size: 140px;
	max-width: 1000px;
	line-height: 105%;
}
a{
	color: black;
	text-decoration: none;
	font-family: 'formula';
	font-size: 140px;
}
p{
	font-family: 'telegraf';
	font-size: 25px;
	line-height: 140%;
	max-width: 845px;
}
#By{
	padding-top: 50px;
	padding-left: 100px;
 	transform: rotate(15deg);
}
#title{
	padding-top: 200px;
	padding-left: 380px;
 	transform: rotate(-23deg);
}
#The{
	padding-left: 380px;
 	transform: rotate(-23deg);
}
#Like{
	padding-top: 400px;
	padding-left: 180px;
 	transform: rotate(10deg);
}
#ONE{
	padding-top: 100px;
	padding-left: 900px;
	transform: rotate(-30deg);
}
#lib{
	padding-left: 700px;
	padding-top: 450px;
	transform: rotate(23deg);
}
#ortho{
	padding-left: 200px;
	padding-top: -10px;
	transform: rotate(-23deg);
}
#long{
	padding-left: 700px;
	padding-top: 500px;
	transform: rotate(15deg);
}
#deux{
	padding-left: 100px;
	transform: rotate(-17deg)
}
#year{
	padding-left: 100px;
	padding-top: 100px;
	transform: rotate(-6deg);
}
#proclaim{
	padding-left: 450px;
	padding-top: 500px;
	transform: rotate(30deg);
}
#hope{
	padding-left: 550px;
	transform: rotate(-12deg)
}
#un{
	padding-left: 150px;
	transform: rotate(6deg);
}
#natural{
	padding-top: 500px;
	padding-left: 200px;
	transform: rotate(-13deg);
}
#inverse{
	padding-left: 250px;
	margin-top: -60px;
	transform: rotate(6deg);
}
#superstition{
	padding-left: 160px;
	margin-top: -170px;
	transform: rotate(-13deg);
}
#trois{
	padding-left: 700px;
	transform: rotate(20deg);
}
#combine{
	padding-left: 500px;
	padding-top: 75px;
	transform: rotate(56deg);
}
#task{
	padding-left: 350px;
	padding-top: 30px;
	transform: rotate(-15deg);
}
#written{
	padding-left: 150px;
	padding-top: 300px;
	transform: rotate(30deg);
}
#quatre{
	padding-left: 870px;
	padding-top: 200px;
	transform: rotate(-12deg);
}
.one{
	background-color: #FF0000;
}
.two{
	background-color: #ADD8E6;
}
.three{
	background-color: #FFA800;
}
.four{
	background-color: #F3E2E2;
}
.five{
	background-color: #EE9ACC;
}